/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,ul,a,p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.btn0{
    padding: 12px 25px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: 360ms ease;
}
.btn2{
    color: #FFFFFF;
    background: #7963F0;
}
.btn2:hover{
    color: #FFFFFF;
    background: #2905f8;
}
/*   end navbar css
******************************/
.nav-link{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1;
    font-weight: 600;
    color: #0D0A19;
    margin-left: 20px;
}
.signup{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1;
    font-weight: 600;
    color: #9A9EA7;
}
.signup img{
    width: 32px;
    height: auto;
    padding: 5px 8px;
    background-color: #F5F6F7;
    border-radius: 10px;
    margin-right: 9px;
}
/*   end navbar css
******************************/

/*   start banner area css
******************************/
.banner_area{
    background-image: url(../imgaes/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}
.heading h1{
    max-width: 720px;
    margin: auto;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #FFFFFF;
    padding: 140px 0 26px 0;
}
.heading p{
    max-width: 529px;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
/*   end banner area css
******************************/

/*   start card area css
******************************/
.card_contain {
    max-width: 945px;
    margin: auto;
    padding: 18px 0px 14px 18px;
    margin-top: -44px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
}
.card_border_right{
    border-right: 1px solid #EDE8E9;
}
.single_card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    margin-left: 10px;
}
.single_card .form-select{
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 700;
}
.single_card .SingleCard_SelectFirst{
    color: #0D0A19;
}
.single_card .SingleCard_SelectSecent{
    margin-top: 6px;
    color: #9A9EA7;
}
.single_card  .form-select:focus {
    box-shadow: none;
}
.single_card .btn1{
    padding: 12px 22px;
    color: #FFFFFF;
    background: #7963F0;
    display: inline-block;
}
.single_card .btn1:hover{
    color: #FFFFFF;
    background: #2500f5;
}
.single_card .btn1 img {
    width: 13px;
    margin: 0 6px 4px 0px;
}
/*   end card area css
******************************/

/*   start mercedes area css
******************************/
.mercedes_area{
    padding: 90px 0;
}
.main_mercedes_contain {
    max-width: 997px;
    margin: auto;
}
.mercedes_one img{
    max-width: 190px;
    margin-top: 7px;
}
.mercedes_2 img{
    margin-left: 40%;
    max-width: 38px;
}
.mercedes_3 img{
    max-width: 150px;
    margin-top: 12px;
}
.mercedes_4 img{
    margin-left: 30%;
    max-width: 52px;
}
.mercedes_5 img{
    max-width: 160px;
    margin-top: 8px;
}
.mercedes_6 img{
    margin-left: 20%;
    max-width: 75px;
}
/*   end mercedes area css
******************************/

/*   start services area css
******************************/
.services_area{}
.main_service_contain{}
.service_heading{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    font-weight: 700;
    margin-bottom: 46px;
    color: #0D0A19;
}
.text_18px{
    margin-top: 15px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}
.text_p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}
.service_contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.single_service_item{
    max-width: 360px;
    padding: 25px;
    border: 1px solid #E4E6E8;
    border-radius: 10px;
}
.single_service_item img{
    max-width: 310px;
    margin: auto;
}
.service_box1{
    display: flex;
    gap: 12px;
}
.serviceBox1_top{
    padding: 20px 0 24px 0;
}
.service_img{
    padding: 8px;
    border: 1px solid #E4E6E8;
    border-radius: 5px;
}
.service_text h4{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 700;
    color: #0D0A19;
}
.service_text p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #9A9EA7;
}
.service_box2{
    display: flex;
    justify-content: space-between;
}
.service_1{
    position: relative;
}
.service_1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 25px;
    top: 9px;
    left: -5px;
    background: url(../imgaes/service/Line\ 4.svg) no-repeat scroll center center / cover;
}
/*   end services area css
******************************/

/*   start onlineAuto area css
******************************/
.onlineAuto_area{
    padding: 100px 0;
}
.onlineAuto_contain h2{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    font-weight: 700;
    color: #0D0A19;
}
.onlineAuto_contain h6{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #0D0A19;
}
.onlineAuto_box1 span{
    display: inline-block;
    padding: 18px;
    color: #0D0A19;
    font-weight: 700;
    font-size: 42px;
    line-height: 36px;
    letter-spacing: -0.15px;
    border: 1px solid #E4E6E8;
    border-radius: 10px;
    margin: 22px 0;
}
.onlineAuto_contain p{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #9A9EA7;
    margin-bottom: 40px;
}
.btn3{
    padding: 15px 25px;
    color: #9A9EA7;
    background: #e6e4f1;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    transition: 360ms ease;
    margin-top: 30px;
}
.btn3:hover{
    color: #9A9EA7;
}
.btn3 img{
    max-width: 18px;
}
.onlineAuto_ing img {
    max-width: 643px;
}
/*   end onlineAuto area css
******************************/

/*   start find area css
******************************/
.find_area{
    padding-bottom: 100px;
}
.find_nav .btn4{
    color: #9A9EA7;
}
.find_nav .active,
.find_nav .btn4:hover{
    border: 1px solid #EEEEEE;
    color: #0D0A19;
}
.popular_text{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #9A9EA7;
}
.finxbox_img {
    padding: 15px;
    border-radius: 10px;
    transition: 360ms ease;
}
.all_find_area .active,
.all_find_area .finxbox_img:hover{
    background: #F5F6F7;
}
.finxbox_img img{
    max-width: 32px;
    margin: auto;
}
.finxbox_icon {
    margin-left: 135px;
    color: #7963F0;
}
.find_title{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.1px;
    font-weight: 700;
    color: #0D0A19;
}
.finxbox_text p{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #9A9EA7;
}
.other_item h4{
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
    color: #0D0A19;
}
.other_item p{
    font-size: 14px;
    line-height: 35px;
    font-weight: 300;
    color: #0D0A19;
}
.find_nav {
    margin-right: 20px;
}
/*   end find area css
******************************/

