/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,ul,a,p{
    margin: 0;
    padding: 0;
}

/*   end navbar css
******************************/
.nav-link{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1;
    font-weight: 600;
    color: #0D0A19;
    margin-left: 20px;
}
.signup{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1;
    font-weight: 600;
    color: #9A9EA7;
}
.signup img{
    width: 32px;
    height: auto;
    padding: 5px 8px;
    background-color: #F5F6F7;
    border-radius: 10px;
    margin-right: 9px;
}
/*   end navbar css
******************************/

/*   start banner area css
******************************/
.banner_area{
    background-image: url(../imgaes/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}
.heading h1{
    max-width: 720px;
    margin: auto;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #FFFFFF;
    padding: 140px 0 26px 0;
}
.heading p{
    max-width: 529px;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
/*   end banner area css
******************************/

/*   start card area css
******************************/
.card_contain {
    max-width: 945px;
    margin: auto;
    padding: 18px 0px 14px 18px;
    margin-top: -44px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
}
.card_border_right{
    border-right: 1px solid #EDE8E9;
}
.single_card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    margin-left: 10px;
}
.single_card .form-select{
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 700;
}
.single_card .SingleCard_SelectFirst{
    color: #0D0A19;
}
.single_card .SingleCard_SelectSecent{
    margin-top: 6px;
    color: #9A9EA7;
}
.single_card  .form-select:focus {
    box-shadow: none;
}
.single_card .btn1{
    padding: 12px 22px;
    color: #FFFFFF;
    background: #7963F0;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}
.single_card .btn1 img {
    width: 13px;
    margin: 0 6px 4px 0px;
}
/*   end card area css
******************************/

/*   start mercedes area css
******************************/
.mercedes_area{
    padding: 90px 0;
}
.main_mercedes_contain {
    max-width: 997px;
    margin: auto;
}
.mercedes_one img{
    max-width: 190px;
    margin-top: 7px;
}
.mercedes_2 img{
    margin-left: 40%;
    max-width: 38px;
}
.mercedes_3 img{
    max-width: 150px;
    margin-top: 12px;
}
.mercedes_4 img{
    margin-left: 30%;
    max-width: 52px;
}
.mercedes_5 img{
    max-width: 160px;
    margin-top: 8px;
}
.mercedes_6 img{
    margin-left: 20%;
    max-width: 75px;
}
/*   end mercedes area css
******************************/

